a {
  text-decoration: none;
  color: #8d59b0;
}

body {
  font-family: 'Inter';
  /* overflow-x: hidden; */
}

.text-color-theme {
  color: #8d59b0;
}

.navbar-custom {
  background-color: #ad88c6;
}

.navbar-custom .navbar-brand {
  color: white;
  font-weight: 700;
}
